.addproductMain {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  height: 880px;
  display: flex;
  justify-content: center;
  .addProductMain__loading {
    margin-top: 100px;
  }

  .addProductMain__container {
    display: flex;
    background-color: white;
    border: 1px solid #b4aeae;
    border-radius: 4px;
    height: fit-content;
    width: 662px;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 64px;
    margin-bottom: 30px;
    @media screen and (max-width: 900px) {
      width: 600px;
    }
    @media screen and (max-width: 700px) {
      width: 582px;
    }

    h3 {
      font-size: 24px;
      font-weight: 600px;
    }
    p {
      font-size: 16px;
    }
    .addproductMain__title {
      display: block;
      input {
        width: 580px;
        padding-left: 10px;
        height: 53px;
        border-radius: 4px;
        background-color: #f2f2f2;
        border: none;
        font-size: 16px;
        @media screen and (max-width: 900px) {
          width: 518px;
        }
        @media screen and (max-width: 700px) {
          width: 500px;
        }
      }
      input:focus {
        outline: none;
      }
    }
    .addproductMain__priceCategory {
      display: flex;
      margin-right: 218px;
      @media screen and (max-width: 900px) {
        margin-right: 156px;
      }
      @media screen and (max-width: 700px) {
        margin-right: 134px;
      }

      input {
        height: 53px;
        border-radius: 4px;
        background-color: #f2f2f2;
        border: none;
        font-size: 16px;
        padding-left: 10px;
      }
      input:focus {
        outline: none;
      }
      .addproductMain__price {
        display: block;
        input {
          width: 132px;
          padding-left: 10px;
        }
      }
      .addproductMain__category {
        display: block;
        margin-left: 34px;
        select {
          width: 197px;
          height: 53px;
          border-radius: 4px;
          background-color: #f2f2f2;
          border: none;
          font-size: 16px;
          padding-left: 10px;
        }
        select:focus {
          outline: none;
        }
      }
    }
    .addproductMain__description {
      display: block;
      textarea {
        width: 580px;
        height: 151px;
        border-radius: 4px;
        font-size: 16px;
        background-color: #f2f2f2;
        border: none;
        padding-left: 10px;
        font-size: 16px;
        @media screen and (max-width: 900px) {
          width: 518px;
        }
        @media screen and (max-width: 700px) {
          width: 500px;
        }
      }
      textarea:focus {
        outline: none;
      }
    }
    .addproductMain__image {
      display: block;
      position: relative;
      input {
        width: 580px;
        padding-left: 10px;
        height: 53px;
        border-radius: 4px;
        background-color: #f2f2f2;
        border: none;
        font-size: 16px;
        @media screen and (max-width: 900px) {
          width: 518px;
        }
        @media screen and (max-width: 700px) {
          width: 500px;
        }
      }
      input:focus {
        outline: none;
      }
    }
    .addproductMain__submit {
      margin-left: auto;
      margin-bottom: 40px;
      button {
        background: #38aecc;
        border: 1px solid #38aecc;
        color: white;
        border-radius: 4px;
        width: 110px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        margin-top: 15px;
        margin-right: 40px;
        padding-top: 3px;
        cursor: pointer;
      }
      .cancel {
        background: rgb(161, 164, 165);
        border: 1px solid rgb(161, 164, 165);
      }
    }
  }
}

.error {
  color: red;
  width: 32px;
}

.detailProduct {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 100px;
  height: 826px;
  display: flex;
  justify-content: center;
  @media screen and (max-height: 740px) {
    height: 620px;
  }
  .detailProduct__loading {
    margin-top: 100px;
  }
  .detailProduct__container {
    display: flex;
    background-color: white;
    border: 1px solid #b4aeae;
    border-radius: 4px;
    height: fit-content;
    width: 880px;
    margin: 64px;
    justify-content: center;
    flex-direction: row;
    position: relative;
    @media screen and (max-width: 700px) {
      width: 600px;
    }
    .product {
      height: 220px;
      width: 220px;
      position: absolute;
      top: 70px;
      left: 20px;
      margin-left: 35px;
      margin-top: 10px;
      @media screen and (max-width: 700px) {
        margin-left: 10px;
      }
    }
    .data {
      display: block;
      margin-top: 10px;
      margin-left: 350px;
      h3 {
        padding-top: 25px;
        padding-right: 28px;
      }
      p {
        padding-top: 25px;
        padding-right: 28px;
      }
      .detailProduct__cart {
        display: flex;
        margin-top: 40px;
        margin-bottom: 50px;
        @media screen and (max-width: 700px) {
          margin-right: 17px;
        }
        input {
          margin-left: 15px;
          padding-left: 13px;
          width: 20px;
          border: none;
          border-bottom: 1px solid #b4aeae;
          justify-content: center;
          display: flex;
        }
        input:focus {
          outline: none;
        }
        .cart__addSubtract {
          border-radius: 15px;
          border: 1px solid rgb(56, 174, 204);
          background-color: rgb(56, 174, 204);
          height: 30px;
          width: 30px;
          color: white;
          margin-left: 10px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 2px;
        }
        .cart__addtoCart {
          border: 1px solid rgb(56, 174, 204);
          background-color: rgb(56, 174, 204);
          height: 25px;
          color: white;
          margin-left: 30px;
          cursor: pointer;
          height: 30px;
          width: 100px;
          border-radius: 4px;
        }
      }
      .dropdown {
        height: 6px;
        width: 1px;
        position: relative;
        margin-left: auto;
        margin-bottom: auto;
        margin-right: 20px;
        margin-top: 10px;
        .detailProduct__settings {
          background-color: rgb(255, 255, 255);
          border: 1px solid #b4aeae;
          width: 80px;
          height: 60px;
          position: absolute;
          top: 20px;
          right: 0px;
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 400;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .edit {
            border-bottom: 1px solid #b4aeae;
            justify-content: center;
            width: 82px;
            display: flex;
            padding-bottom: 3px;
          }
          .delete {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .deleteConfirmation {
      background-color: white;
      border: 1px solid #b4aeae;
      border-radius: 4px;
      width: 450px;
      height: 170px;
      margin-top: 80px;
      position: absolute;
      bottom: 218px;
      right: 225px;
      @media screen and (max-width: 1537px) {
        right: 189px;
      }
      @media screen and (max-width: 1100px) {
        bottom: 316px;
        right: 189px;
      }
      @media screen and (max-width: 1000px) {
        bottom: 332px;
        right: 189px;
      }
      @media screen and (max-width: 900px) {
        bottom: 352px;
        right: 171px;
      }
      @media screen and (max-width: 865px) {
        bottom: 404px;
        right: 171px;
      }
      @media screen and (max-width: 800px) {
        bottom: 440px;
        right: 132px;
      }
      @media screen and (max-width: 750px) {
        bottom: 482px;
        right: 104px;
      }
      @media screen and (max-width: 700px) {
        bottom: 463px;
        right: 96px;
      }
      img {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
      p {
        margin-left: 40px;
        font-size: 19px;
        font-weight: 400;
        justify-content: center;
      }
      .confirmation__button {
        margin-left: 160px;
        margin-top: 65px;

        button {
          background: #38aecc;
          border: 1px solid #38aecc;
          color: white;
          width: 100px;
          height: 38px;
          font-size: 18px;
          margin-left: 40px;
        }
        .cancel {
          background: rgb(161, 164, 165);
          border: 1px solid rgb(161, 164, 165);
        }
      }
    }
  }
}
