.dashboardMain {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;

  .dashboardMain__container {
    display: flex;
    background-color: white;
    border: 1px solid #b4aeae;
    border-radius: 4px;
    height: 329px;
    width: 243px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 2px rgb(199, 196, 196);
    margin-top: 46px;
    margin-left: 54px;
    cursor: pointer;
    img {
      height: 130px;
      width: 130px;
      margin-top: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 400px;
      text-align: center;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
